html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.conteiner {
    overflow: hidden;
}

.side-bar {

    width: 180px;
    float: left;
    position: absolute;
}

.side-bar-button{
    text-decoration:none;
    display:block;
    padding: 14px 15px;
    background-color:white;

}

.side-bar-content {
    background: red;
    color: #fff;
    height: 500px;
    width: 630px;
    border-radius: 4px;
    margin: 20px;
    margin-left: 25%;
    border: 1px solid #777;

}

.my-file-container{

    box-sizing:content-box;
    height: 120px;
    width: 700px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding:10px;
}

  #inbox{
      height:160px;
  }

.button-conteiner {
    float: right;
    width: fit-content;
    height: fit-content;
    display:inline-block;
    text-align:center;
    margin-block:10px;
}
.general-button {
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    background-color: rgb(203, 190, 190,0.5);
    box-sizing: content-box;
    padding-block: 5px;
    padding-inline: 35px;
}
#download-button {
    color:white;
    background-color:cornflowerblue;
}
#manage-button {
    display:block;
    margin-bottom:8px;
    
}
#download-button:hover{
    color:lightgray;
}
.vertical-table{
    float:left;
}

.vertical-table{
    font-size: 18px;
    border-collapse:separate;
    border-spacing:10px;
    
}

.vertical-table tr{
    margin-top: 120px;
}

