html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  min-width:800px;
}

.conteiner {
    overflow: hidden;
}

.side-bar {
    background-color: black;
    width: 20%;
    min-width: 10%;
    max-width: 30%;
    float: left;
}

.side-bar-button{
    text-decoration:none;
    display:block;
    padding: 14px 15px;
    background-color:white;

}

.side-bar-content {
    color: black;
    height: 500px;
    max-width: 630px;
    margin: 20px;
    margin-left: 25%;

}

.general-container {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    min-width: 300px;
    max-height:500px;
    overflow:auto scroll;
    border: none;
    margin-bottom: 20px;
    padding: 10px;
}


.my-file-container {
    box-sizing: border-box;
    display: inline-block;
    width:100%;
    min-width: 300px;
    border: 2px solid black;
    margin-bottom: 20px;
    padding: 10px;
}




td {
    max-width:300px;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

th{
    float:left;
}
.button-conteiner {
    float: right;
    width: fit-content;
    height: fit-content;
    display:inline-block;
    text-align:center;
    margin-block:10px;
}
.general-button {
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    color:white;
    background-color: rgb(203, 190, 190,0.5);
    box-sizing: content-box;
    padding-block: 5px;
    padding-inline: 35px;
}

.general-button:hover {
    color: lightgray;
}
#download-button {
    background-color:cornflowerblue;
}

#manage-button {
    display: block;
    margin-bottom: 8px;
    background-color: rgb(7, 171, 113, 0.8)
    
}
#delete-button {
    display: block;
    margin-top: 8px;
    background-color: red;
}

#share-button {
    display: block;
    margin-top: 8px;
    background-color: rgb(19, 79, 236)
}
    #share-button:hover {
        background-color: rgb(19, 79, 236,0.7);
        color:white;
    }
#end-sharing-button {
    display: block;
    margin-top: 8px;
    background-color: red;
}
    #end-sharing-button:hover {
        background-color: rgb(218, 18, 18);
        color: white;
    }


.vertical-table {
    float: left;
}

.vertical-table{
    font-size: 18px;
    border-collapse:separate;
    border-spacing:10px;
    
}

.vertical-table tr{
    margin-top: 120px;
}

.welcome-container{
    min-width:800px;
}

.picture {
    display:inline-flex;
    margin-left: 0,4em;
}

.p {
    height: 320px;
    width: 480px;
    font-size: 35px;
}

.welcome-h1{
    margin-left:35%;
    margin-right:25%;
    font-size:2em;
}


.img-text {
    margin-left: 1em;
    font-size: 1.7em;
}
