@model IEnumerable<MyFile>
@{
    ViewData["Title"] = "My Files";

}


<h1>My Files</h1>

@if(@Model.Count() > 0)
{
    
<table>
    <tr>
        <th>ID</th>
        <th>File Name</th>
        <th>File Size</th>
        <th>Uploaded Date</th>
        <th> </th>

    </tr>

    @foreach (MyFile myFile in @Model)
    {
        <tr>

            <th>@myFile.DocumentId</th>
            <th>@myFile.FileName</th>
            <th>@myFile.FileSize</th>
            <th>@myFile.UploadDate</th>
            <th> <a asp-controller="DocumentAccess" asp-action="Index" asp-route-fileId=@myFile.DocumentId>manage</a> </th>
        </tr>
    }


</table>
}