@model File_Sharing.Models.UploadFile

@{
            ViewData["Title"] = "Upload File";
            double Quota = (double)System.Math.Round(ViewBag.UserQuota,2);
            string msg = (string)ViewBag.msg;
}

<div>
    <p>Your Remaining Upload Capacity is <span style="font-weight:bold">@Quota Mb</span>.</p>
</div>

@if(msg != null)
{
    <p>@msg</p>
}
<form asp-controller="Document" asp-action="Upload" enctype="multipart/form-data" class="form">
    <div class="form-row">
            <label asp-for="File">File Upload</label>
      </div>
     
    <input asp-for="File" id="File" type="file"/>
 
    <div>
        <p id="GFG_DOWN" style=
        "color:green; font-size: 1em; font-weight: bold;">
    </p>
    </div>
    
    <div class="form-row">
        <button>Upload</button>
    </div>

</form>

    <script>
        $('#File').on('change', function() {
            $('#GFG_DOWN').text("Your File size is: "+(this.files[0].size / 1024 / 1024).toFixed(2) + " MB");
        });
    </script>