@{
    ViewData["Title"] = "Home Page";
}

<div>
 
    <div class="picture">

        <img src="~/2.jpg" class="p"/>

    </div>

    <div class="ad">
        <p>File Sharing app offers 1GB of storage space for everyone. 
            You can use this storage space to share files with your 
            friends after you become a member of the site.</p>

    </div>
</div>
