@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome-container">
 <h1 class="welcome-h1">Welcome To File Sharing</h1>

    <div class="picture">
        <figure></figure>
        <img src="~/2.jpg" class="p"/>
         <p class="img-text">File Sharing app offers 1GB of storage space for everyone. 
            You can use this storage space to share files with your 
            friends after you become a member of the site.</p>

    </div>

</div>





