@model File_Sharing.Models.Login
@{
        ViewData["Title"] = "Login";
}

<form asp-controller="Account" asp-action="Login" method="post" class="form">
    <div class="form-row"> 
    <label asp-for="Email">Email</label>
    <input asp-for="Email" type="email" required/>
    <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-row"> 
    <label asp-for="Password">Password</label>
    <input asp-for="Password" type="password" required/>
    <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-row"> 
    <button>Login</button>
    </div>
</form>