@model File_Sharing.Models.UserCreate

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form asp-controller="Account" asp-action="Register" method="post" class="form">
    <div class="form-row">
        <label asp-for="Name">User Name</label>
        <input asp-for="Name" type="text" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-row">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" type="email" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-row">
        <label asp-for="Password">Enter Your Password</label>
        <input asp-for="Password" id="password" type="password" required>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-row">
        <label asp-for="ConfirmPassword">Enter Your Password Again</label>
        <input asp-for="ConfirmPassword" id="password-validate" type="password" required>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="form-row">
        <button>Register</button>
    </div>

</form>
