@using File_Sharing.Models
@model IEnumerable<Request>


@{
            ViewData["Title"] = "My Friendship Requests";
}


<h1>Requests</h1>

@Html.Partial("_Sidebar")
<div class="side-bar-content">
@if (Model.Count() > 0)
{
    

<table>
    <tr>
        <th> Name </th>
        <th> Email </th>
        <th> </th>
    </tr>
    @foreach (Request request in Model)
    {
    <tr> 
        <td>@request.SenderName </td>  
        <td>@request.SenderEmail</td>
        <td> <a asp-controller="Friendship" asp-action="AcceptRequest" asp-route-FriendshipId="@request.FriendshipId" >Approve</a> </td>
    </tr>
    


    }

</table>
}

</div>

       
