<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />


    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <title>@ViewBag.Title</title>
</head>

<body>
    <header>
                <div class="navbar">
            <ul class="navbar-table-right">
                <li><a class="nav-button" asp-controller="Account"  asp-action="login" >Login</a></li> 
                <li><a class="nav-button" asp-controller="Account"  asp-action="register">Register</a></li>
                
            </ul>
            </div>
    </header>


    <div class="render-body-container">
        @RenderBody()
    </div>
 <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - File Sharing -
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>