@{
    string userName = User.Identity.Name;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <title>@ViewBag.Title</title>
</head>


<body>
    <header> 
        <div class="navbar">
            <ul class="navbar-table-left">
                <li><a class="nav-button" href="#">Dashboard</a></li> 
                <li><a class="nav-button" href="#">Inbox</a></li>
                <li><a class="nav-button" asp-controller="Document" asp-action="index">My Files</a></li> 
                <li><a class="nav-button" href="#">Shared</a></li> 
                <li><a class="nav-button" asp-controller="Friendship" asp-action="Index">Friends</a></li> 
                <li><a class="nav-button" asp-controller="Document" asp-action="Upload">Upload</a></li> 

  

            </ul>

         <ul class="navbar-table-right">
            <li>
                <div class="dropdown">
                    <button class="dropbtn">@userName</button>
                    <div class="dropdown-content">
                      <a href="#">Settings</a>
                      <a asp-controller="Account" asp-action="logout">Logout</a>
                    </div>
                  </div>

            </li> 


         </ul>

         </header>
         <div class="render-body-container">


            @RenderBody()
          </div>

        <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - File Sharing | <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
