<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<div class="side-bar">
   <a class="side-bar-button" asp-controller="Friendship" asp-action="index">Friends</a>
   <a class="side-bar-button" asp-controller="Friendship" asp-action="GetReceivedRequests">Requests</a>
   <a class="side-bar-button" asp-controller="Friendship" asp-action="SendRequest">Send Request</a>
</div>

</body>
</html>
